nav {
	background-color: black;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #666B6C;
}

p {
	text-align: center;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.timeline-item {
	padding: 50px 0;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.timeline-content {
	margin-left: 75px;
}

.timeline-content h2 {
	margin-top: 0;
}

.timeline-content p {
	margin-bottom: 0;
}

h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.timeline-item {
	padding: 20px;
	position: relative;
}

.timeline-item:before {

}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}
