nav {
	background-color: black;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #666B6C;
}
h1 {
	text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.entry {
	text-align: center;
}

.player-cards {
  display: flex;
  justify-content: center;
}

.player-card {
  width: 183px;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.player-card img {
  width: 183px;
  height: 275px;
  object-fit: cover;
}

.player-info {
  padding: 10px;
  text-align: center;
}



.row {
	display: flex;
	margin-left: -5px;
	margin-right: -5px;
	justify-content: center;
}

.column {
	width: 400px;
	padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 20px;
}

th, td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:first-child {
  font-weight: bold;
  text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
